* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
    height:100%;
    width:100%;
    margin:1px;
    padding:0px;
    color:#7AF;
    background-color:#000;
}

/* Portrait layout (default) */
.app {
    margin-left:auto;
    margin-right:auto;
}

.event {
    border-radius:3px;
    -webkit-border-radius:3px;
    margin-bottom:4px;
    padding:4px;
    min-width:50%;
	max-width:70%;
    text-align:center;
    border:2px solid #999;
}

.event.listening {
    display:block;
    background-color:#933;
}

.event.received {
    border-color:#8F6;
	background-color:clear;
    display:none;
}

.event.watching {
    border-color:#F86;
    background-color:clear;
    display:none;
}

.result_pane {
    font-size:12px;
    line-height:14px;
    text-align:left;
}

td {
    padding:2px;
	text-align:right;
	max-width:99%;
}

table, td {
    border: 1px solid #999;
    border-collapse: collapse;
}
